<form class="add-form" (ngSubmit)="onSubmit()" *ngIf="showAddFoodPlace">
    <div class="form-control">
        <label for="text">Add Name</label>
        <input type="text" name="name" id="name" placeholder="Restaurant Name" [(ngModel)]="name"/>
    </div>
    <div class="form-control">
        <label for="text">Add Cuisine</label>
        <input type="text" name="cuisine" id="cuisine" placeholder="Cuisine" [(ngModel)]="cuisine"/>
    </div>
    <div class="form-control">
        <label for="text">Add Category</label>
        <input type="text" name="category" id="category" placeholder="Category" [(ngModel)]="category"/>
    </div>
    <div class="form-control">
        <label for="text">Add Review</label>
        <input type="text" name="review" id="review" placeholder="Review" [(ngModel)]="review"/>
    </div>
    <div class="form-control">
        <label for="text">Add Remarks</label>
        <input type="text" name="remarks" id="remarks" placeholder="Remarks" [(ngModel)]="remarks"/>
    </div>
    <div class="form-control">
        <label for="text">Add Image URL</label>
        <input type="text" name="imageURL" id="imageURL" placeholder="Image URL (ending with .jpg or .png)" [(ngModel)]="imageURL"/>
    </div>
    <input type="submit" value="Save Food Place" class="btn btn-block"/>
</form>
