.foodPlace {
    background: whitesmoke;
    margin: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

.foodPlace h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}